// .card{
    // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    // box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.47);
    // padding: 10px;
    // width: 200px;
    // height: 250px;
    // border-radius: 15px;
    // background-color: rgba(255,255,255, 0.4);
    // margin-right: 1%;
    
// }
// .img{
//     width: 40%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     justify-content: center;
//     align-items: center;
//     // background-image: url('./assets/mountain.jpg');
//     // background-size: cover;
//    // border-radius: var(--main-border-radius);
// }
// .cardInfo{
//     width: 60%;
//     height: 100%;
//     top: 0;
//     left: 0;
// }

.ForecastDay {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.47);
    padding: 10px;
    width: 230px;
    height: 250px;
    border-radius: 15px;
    background-color: rgba(255,255,255, 0.4);
    margin-right: 1%;
    text-align: center;
  }
  .WeatherForecastDay {
    font-weight: 800;
    padding: 6px;
    font-size: 28px;
  }
  .WeatherForecastTemp-max {
    font-size: 28px;
    font-weight: 800;
  }
  .WeatherForecastTemp-min {
    font-size: 28px;
  }
  .WeatherForecastDescription {
    padding-bottom: 2px;
    font-size: 15px;
  }
  